@import "variables";
$navbar_fontsize:1.2rem;
$searchbar_opacity:1;
nav{
  position: fixed;
  width: 100%;
  padding: 0.7vw 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.1);
  #nav-menu-div{
    button{
      font-size: 20px;
    }
  }
  #nav-logo-div{
    flex: 1;
    display: flex;
    justify-content: center;
    img{
      width: 150px;
      height: 100px;
    }
  }
}
